# These are the creators of token.art and will be
# the default owners for everything in the repo.
@btroia @GollyJer

# These are the responsible parties for the curation of a given collection.
/blockchains/counterparty/faux-sogs/ @realcoinking
/blockchains/counterparty/testing/ @GollyJerTest
